%div
  .alert{"ng-show" => "salutation"} Hello, {{user.name}}
  .alert{"ng-show" => "byebye"} Bye bye :'(

%button{"type" => "button", "ng-show" => "!logged_in", "ng-disabled" => "!facebookReady", "ng-click" => "IntentLogin()"} Login with Facebook
%button{"type" => "button", "ng-show" => "logged_in", "ng-disabled" => "!facebookReady", "ng-click" => "logout()"} Logout
