= render 'layouts/nav'

.row
  .large-12.columns
    %h2 Events - {{ user.name }}

.row
  .large-12.columns
    %a{ng: {click: "togglePastEvents()"}}
      %span{ng: {hide: "show_past_events"}}
        %i.fi-plus
        Show past events
      %span{ng: {show: "show_past_events"}}
        %i.fi-minus
        Hide past events

.row.event{ng: {repeat: 'event in events|orderBy:"start_time"', show: "!eventPast(event) || show_past_events"}}
  .large-2.columns
    %a{href: "https://facebook.com/events/{{ event.id }}"}
      %img{"ng-src" => "{{ event.picture_url }}"}
  .large-10.columns
    %h3
      %a{href: "https://facebook.com/events/{{ event.id }}"} {{ event.name }}
    .start-time
      {{ event.start_time|amDateFormat:"Do MMMM" }}
      = surround '(', ')' do
        %span{"am-time-ago" => "event.start_time"}
    .location {{ event.location }}
    -#%p {{ event.rsvp_status }}
