.icon-bar.six-up.label-right
  %a.item{"href" => "#/events"}
    %i.fi-calendar
    %label Events
  %a.item.right{"ng-click" => "logout()"}
    %i.fi-unlock
    %label Log out

.row
  .large-12.columns
    %h2 Events - {{ user.name }}

.row{"ng-repeat" => "event in events"}
  .large-3.columns
    %img{"ng-src" => "{{ event.picture.source }}"}
  .large-9.columns
    %h3 {{ event.name }}
    -# TODO: relative time
    %p ({{ event.start_time|date:"d MMMM" }})
    %p {{ event.location }}
    -#%p {{ event.rsvp_status }}
